<%- include('navparts/navHeader'); -%>
<%- include('navparts/navbody'); -%>

<div class="container">
    <p class="alert alert-danger">Something went wrong</p>
</div>
<%- include('navparts/navFooter'); -%>
