<%- include('navparts/navHeader'); -%>
<%- include('navparts/navbody'); -%>
<div class="container">
    <p class="alert alert-danger">Error 404: Page not found</p>
</div>

<%- include('navparts/navFooter.ejs'); -%>
