<%- include('navparts/navHeader'); -%>
<%- include('navparts/navbody'); -%>
<div class="container">
    <p class="alert alert-danger"> You Are't User | You Aren't Admin </p>
</div>

<%- include('navparts/navFooter.ejs'); -%>
